<div id="home-section2-block-{{id}}" class="skt-builder-block-wrapper skt-builder-home-section2-block skt-builder-home-section2-block-{{id}}" style="background-color: {{blockBackgroundColor}}; background-image: url({{blockBgImageUrl}}); padding-bottom: {{blockPaddingBottom}}px; padding-top: {{blockPaddingTop}}px; {{#if blockParallaxEffect}}background-attachment: fixed;{{/if}}">
	<div class="skt-builder-block-inner skt-builder-block-inner-{{id}}" style="{{#if blockAnimation}}visibility: hidden;{{/if}}">
		<div class="skt-builder-container">
        	<style>
			.skt-builder-home-section2-block-{{id}} .skt-left-content-column-inner {box-shadow: 0 0 5px 5px {{boxShadowColor}} !important; background-color: {{boxbgColor}} !important; top: {{boxtopAlignment}}px !important;}
			
			.skt-builder-home-section2-block-{{id}} .skt-builder-block-button{background: linear-gradient(to right, {{blockButtonBgColor}}, {{blockButtonGRColor}});  color: {{blockButtonTextColor}};}
			.skt-builder-home-section2-block-{{id}} .skt-builder-block-button:hover{background: {{blockButtonHoverBgColor}}; color: {{blockButtonHoverTextColor}};}	
			</style>
			<div class="skt-builder-columns-row skt-builder-columns-row-2column">
                <div class="skt-builder-column skt-left-content-column">
                	<div class="skt-left-content-column-inner">
                        {{#if blockTitle}}
                            <div class="skt-builder-block-title" style="text-align: {{blockTitleAlign}};">                                
                                <h2 style="color: {{blockTitleColor}}; font-size: {{blockTitleFontSize}}px; {{#if blockTitleSeparator}}margin-bottom: 0;{{else}}margin-bottom: {{blockTitleMarginBottom}}px;{{/if}} text-align: {{blockTitleAlign}};">{{blockTitle}}</h2>
                                {{#if blockTitleSeparator}}<div class="skt-builder-block-title-separator" style="background-color: {{blockTitleSeparatorColor}}; margin-bottom: {{blockTitleMarginBottom}}px;"></div>{{/if}}
                            </div>
                        {{/if}}
                        {{#if blockDescription}}
                            <div class="skt-builder-column-inner">
                                {{{blockDescription}}}
                            </div>
                        {{/if}}
                        {{#if blockButtonText}}
                            <a class="skt-builder-block-button" href="{{blockButtonLink}}" {{#if blockButtonLinkTarget}}target="_blank"{{/if}}>{{blockButtonText}}</a>
                        {{/if}}
                	</div>    
                </div>
                <div class="skt-builder-column skt-right-image-column">
                    {{#if blockImage}}
                        <div class="skt-builder-column-inner">
                            <img class="skt-builder-home-section2-block-img" style="margin-top: {{blockImagePosition}}px;" src="{{blockImage}}">
                            <div class="circle-shadow"></div>
                        </div>
                    {{/if}}
                </div>
			</div>
		</div>
	</div>
</div>
<script>
jQuery(document).ready(function() {
    jQuery('p').each(function() {
        var $this = jQuery(this);
        if($this.html().replace(/\s|&nbsp;/g, '').length == 0) {
            $this.remove();
        }
    });
});

jQuery(document).ready(function() {
    jQuery('p').each(function() {
        var $this = jQuery(this);
        if($this.html().replace(/\s|<br>/g, '').length == 0) {
            $this.remove();
        }
    });
});
</script>
{{#if blockAnimation}}
<script>
jQuery.noConflict();
jQuery(document).ready(function(){
jQuery(window).scroll(function(){
    // This is then function used to detect if the element is scrolled into view
    function elementScrolled(elem)
    {
        var docViewTop = jQuery(window).scrollTop();
        var docViewBottom = docViewTop + jQuery(window).height();
        var elemTop = jQuery(elem).offset().top;
        return ((elemTop <= docViewBottom) && (elemTop >= docViewTop));
    }

	if (jQuery('.skt-builder-block-inner-{{id}}').length > 0) {
	if(elementScrolled('.skt-builder-block-inner-{{id}}')) {
        var els = jQuery('.skt-builder-block-inner-{{id}}'),
            i = 0,
            f = function () {
                jQuery(els[i++]).addClass('{{blockAnimationEffect}}');
                if(i < els.length) setTimeout(f, 400);
            };
        f();
    }}

});
});
</script>
{{/if}}